@import "variables";

html {
    font-family: $font-stack;
    font-size: var(--base-font-size);
}

body {
    text-align: center;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

body, h1, h2, h3, ul, li, p, div, a {
    @extend %padding_margin;
}

.sub_heading {
    @include sub_heading;
}

.article_heading {
    @include article_heading;
}

.article_paragraph {
    @include article_paragraph;
}

.button_for_free {
    @include btn_free;
    border: none;
    padding: 10px 30px;
}

.comment_number {
    @include bg_sub_title;
}

article img {
    width: 100%;
}

.container {
    margin-left: var(--base-margin);
    margin-right: var(--base-margin);
}

@media (min-width: 1000px) {
    .sub_heading {
        @include sub_heading_desk;
    }
    .container {
        max-width: 1000px;
        margin-left: auto;
        margin-right: auto;
    }
}