@import "variables";

.together {
    padding-top: calc(var(--base-padding) * 3);
    padding-bottom: calc(var(--base-padding) * 3);
    background-image: url('../images/bg-section-bottom-mobile-1.svg'), url('../images/bg-section-top-mobile-1.svg');
    background-repeat: no-repeat;
    background-size: 500px;
    background-position: 50% 100%, 50% -10%;
    & .together_heading {
        padding-top: calc(var(--base-padding) * 2);
    }
    & .together_paragraph {
        padding-top: var(--base-padding);
    }
}

@media (min-width: 1000px) {
    .together {
        background-image: url('../images/bg-section-bottom-desktop-1.svg'), url('../images/bg-section-top-desktop-1.svg');
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: 50% 105%, 50% 0%;
        & .together_container {
            display: flex;
            flex-direction: row-reverse;
            justify-content: space-between;
            align-items: center;
            & div:last-child {
                max-width: 500px;
                text-align: start;
            }
        }
    }
}