body, h1, h2, h3, ul, li, p, div, a, fieldset {
  margin: 0;
  padding: 0; }

:root {
  --base-font-size: 1rem;
  --base-line-height: 24px;
  --bg-color: #000000;
  --st-header-color: #ff8fd8;
  --sub-heading-color: #00252e;
  --btn-color: #f5faff;
  --btn-background: #ff52bf;
  --base-margin: 22px;
  --base-padding: 42px; }

html {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-size: var(--base-font-size); }

body {
  text-align: center; }

a {
  text-decoration: none; }

ul {
  list-style: none; }

.sub_heading {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: calc((var(--base-font-size) + 0.5rem));
  line-height: calc((var(--base-line-height) * 1.5));
  color: var(--sub-heading-color); }

.article_heading {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: calc((var(--base-font-size) * 1.5));
  line-height: calc((var(--base-line-height) * 1.5));
  color: var(--sub-heading-color); }

.article_paragraph {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: var(--base-font-size);
  line-height: var(--base-line-height);
  color: var(--sub-heading-color); }

.footer_paragraph {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: var(--base-font-size);
  line-height: var(--base-line-height); }

.button_for_free {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: var(--base-font-size);
  line-height: var(--base-line-height);
  color: var(--btn-color);
  background-color: var(--btn-background);
  border: none;
  padding: 10px 30px; }

.comment_number {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: calc((var(--base-font-size) * 3));
  line-height: calc((var(--base-line-height) * 2.5));
  color: var(--sub-heading-color); }

article img {
  width: 100%; }

.container {
  margin-left: var(--base-margin);
  margin-right: var(--base-margin); }

@media (min-width: 1000px) {
  .sub_heading {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: calc((var(--base-font-size) * 2.5));
    line-height: calc((var(--base-line-height) * 2));
    color: var(--sub-heading-color); }
  .container {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto; } }

body, h1, h2, h3, ul, li, p, div, a, fieldset {
  margin: 0;
  padding: 0; }

:root {
  --base-font-size: 1rem;
  --base-line-height: 24px;
  --bg-color: #000000;
  --st-header-color: #ff8fd8;
  --sub-heading-color: #00252e;
  --btn-color: #f5faff;
  --btn-background: #ff52bf;
  --base-margin: 22px;
  --base-padding: 42px; }

body, h1, h2, h3, ul, li, p, div, a, fieldset {
  margin: 0;
  padding: 0; }

:root {
  --base-font-size: 1rem;
  --base-line-height: 24px;
  --bg-color: #000000;
  --st-header-color: #ff8fd8;
  --sub-heading-color: #00252e;
  --btn-color: #f5faff;
  --btn-background: #ff52bf;
  --base-margin: 22px;
  --base-padding: 42px; }

.site_header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding-top: var(--base-padding);
  margin-left: var(--base-margin);
  margin-right: var(--base-margin); }
  .site_header .site_header__heading a {
    background-image: url("../images/logo.svg");
    background-repeat: no-repeat;
    background-position: 0% 50%;
    background-size: 8rem;
    width: 150px;
    display: block;
    text-indent: -9999px; }
  .site_header .site_header__button {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: var(--base-font-size-2px);
    line-height: var(--base-line-height-6px);
    color: var(--st-header-color);
    border: 2px solid var(--st-header-color);
    background-color: transparent;
    border-radius: 50px;
    padding: 8px 25px; }

@media (min-width: 1000px) {
  .site_header .site_header__heading a {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: calc((var(--base-font-size) * 2.5));
    line-height: calc((var(--base-line-height) * 2)); } }

body, h1, h2, h3, ul, li, p, div, a, fieldset {
  margin: 0;
  padding: 0; }

:root {
  --base-font-size: 1rem;
  --base-line-height: 24px;
  --bg-color: #000000;
  --st-header-color: #ff8fd8;
  --sub-heading-color: #00252e;
  --btn-color: #f5faff;
  --btn-background: #ff52bf;
  --base-margin: 22px;
  --base-padding: 42px; }

.masthead {
  padding-bottom: calc(var(--base-padding) * 3);
  padding-top: calc(var(--base-padding) * 3); }
  .masthead .masthead_paragraph {
    padding-top: var(--base-padding);
    padding-bottom: var(--base-padding); }
  .masthead .masthead_button {
    border-radius: 50px; }

@media (min-width: 1000px) {
  .masthead {
    padding-bottom: calc(var(--base-padding) * 2); }
    .masthead .masthead_paragraph {
      max-width: 500px;
      margin-left: auto;
      margin-right: auto; } }

body, h1, h2, h3, ul, li, p, div, a, fieldset {
  margin: 0;
  padding: 0; }

:root {
  --base-font-size: 1rem;
  --base-line-height: 24px;
  --bg-color: #000000;
  --st-header-color: #ff8fd8;
  --sub-heading-color: #00252e;
  --btn-color: #f5faff;
  --btn-background: #ff52bf;
  --base-margin: 22px;
  --base-padding: 42px; }

.comment {
  padding-bottom: var(--base-padding); }
  .comment .comment_lists {
    padding-top: calc(var(--base-padding) * 2); }
    .comment .comment_lists li:first-child p a {
      display: block;
      text-indent: -9999px;
      background-image: url("../images/icon-communities.svg");
      background-repeat: no-repeat;
      background-position: 35% 50%;
      background-size: 1.5rem; }
    .comment .comment_lists li:last-child {
      padding-top: calc(var(--base-padding) + 20px); }
      .comment .comment_lists li:last-child p a {
        display: block;
        text-indent: -9999px;
        background-image: url("../images/icon-messages.svg");
        background-repeat: no-repeat;
        background-position: 35% 50%;
        background-size: 1.5rem; }

@media (min-width: 1000px) {
  .comment .comment_image_container {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto; }
  .comment .comment_lists {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
    .comment .comment_lists li:last-child {
      padding-top: unset; } }

body, h1, h2, h3, ul, li, p, div, a, fieldset {
  margin: 0;
  padding: 0; }

:root {
  --base-font-size: 1rem;
  --base-line-height: 24px;
  --bg-color: #000000;
  --st-header-color: #ff8fd8;
  --sub-heading-color: #00252e;
  --btn-color: #f5faff;
  --btn-background: #ff52bf;
  --base-margin: 22px;
  --base-padding: 42px; }

.together {
  padding-top: calc(var(--base-padding) * 3);
  padding-bottom: calc(var(--base-padding) * 3);
  background-image: url("../images/bg-section-bottom-mobile-1.svg"), url("../images/bg-section-top-mobile-1.svg");
  background-repeat: no-repeat;
  background-size: 500px;
  background-position: 50% 100%, 50% -10%; }
  .together .together_heading {
    padding-top: calc(var(--base-padding) * 2); }
  .together .together_paragraph {
    padding-top: var(--base-padding); }

@media (min-width: 1000px) {
  .together {
    background-image: url("../images/bg-section-bottom-desktop-1.svg"), url("../images/bg-section-top-desktop-1.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 50% 105%, 50% 0%; }
    .together .together_container {
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
      align-items: center; }
      .together .together_container div:last-child {
        max-width: 500px;
        text-align: start; } }

body, h1, h2, h3, ul, li, p, div, a, fieldset {
  margin: 0;
  padding: 0; }

:root {
  --base-font-size: 1rem;
  --base-line-height: 24px;
  --bg-color: #000000;
  --st-header-color: #ff8fd8;
  --sub-heading-color: #00252e;
  --btn-color: #f5faff;
  --btn-background: #ff52bf;
  --base-margin: 22px;
  --base-padding: 42px; }

.ready {
  padding-top: calc(var(--base-padding) * 2);
  padding-bottom: calc(var(--base-padding) * 3); }
  .ready .ready_heading {
    padding-bottom: var(--base-padding); }
  .ready .ready_button {
    border-radius: 50px; }

body, h1, h2, h3, ul, li, p, div, a, fieldset {
  margin: 0;
  padding: 0; }

:root {
  --base-font-size: 1rem;
  --base-line-height: 24px;
  --bg-color: #000000;
  --st-header-color: #ff8fd8;
  --sub-heading-color: #00252e;
  --btn-color: #f5faff;
  --btn-background: #ff52bf;
  --base-margin: 22px;
  --base-padding: 42px; }

.conversations {
  padding-top: calc(var(--base-padding) * 2);
  padding-bottom: calc(var(--base-padding) * 2); }
  .conversations .conversations_heading {
    padding-top: calc(var(--base-padding) * 2); }
  .conversations .conversations_paragraph {
    padding-top: var(--base-padding); }

@media (min-width: 1000px) {
  .conversations .conversations_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; }
  .conversations div:last-child {
    text-align: start; } }

body, h1, h2, h3, ul, li, p, div, a, fieldset {
  margin: 0;
  padding: 0; }

:root {
  --base-font-size: 1rem;
  --base-line-height: 24px;
  --bg-color: #000000;
  --st-header-color: #ff8fd8;
  --sub-heading-color: #00252e;
  --btn-color: #f5faff;
  --btn-background: #ff52bf;
  --base-margin: 22px;
  --base-padding: 42px; }

.users {
  padding-top: calc(var(--base-padding) * 3.3);
  padding-bottom: calc(var(--base-padding) * 4);
  background-image: url("../images/bg-section-bottom-mobile-2.svg"), url("../images/bg-section-top-mobile-2.svg");
  background-repeat: no-repeat;
  background-size: 500px;
  background-position: 50% 105%, 50% 0%; }
  .users .users_heading {
    padding-top: calc(var(--base-padding) * 2); }
  .users .users_paragraph {
    padding-top: var(--base-padding); }

@media (min-width: 1000px) {
  .users {
    background-image: url("../images/bg-section-bottom-desktop-2.svg"), url("../images/bg-section-top-desktop-2.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 50% 105%, 50% 0%; }
    .users .users_container {
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
      align-items: center; }
      .users .users_container div:last-child {
        max-width: 500px;
        text-align: start; } }

body, h1, h2, h3, ul, li, p, div, a, fieldset {
  margin: 0;
  padding: 0; }

:root {
  --base-font-size: 1rem;
  --base-line-height: 24px;
  --bg-color: #000000;
  --st-header-color: #ff8fd8;
  --sub-heading-color: #00252e;
  --btn-color: #f5faff;
  --btn-background: #ff52bf;
  --base-margin: 22px;
  --base-padding: 42px; }

.footer {
  color: var(--btn-color);
  text-align: start;
  background-image: url("../images/bg-footer-top-mobile.svg");
  background-repeat: no-repeat;
  background-size: 500px;
  background-position: 100% 5%;
  padding-top: 100px; }
  .footer .footer_container {
    background-color: var(--sub-heading-color);
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: flex-start; }
  .footer .contact {
    margin-left: var(--base-margin);
    margin-right: var(--base-margin);
    margin-bottom: calc(var(--base-margin) * 4); }
    .footer .contact .contact_heading a {
      display: block;
      text-indent: -9999px;
      background-image: url("../images/logo.svg");
      background-repeat: no-repeat;
      background-position: 0% 50%;
      width: 250px;
      filter: brightness(0) invert(1); }
    .footer .contact .contact_paragraph {
      padding-top: 20px;
      padding-bottom: var(--base-padding); }
    .footer .contact .contact_phone {
      background-image: url("../images/icon-phone.svg");
      background-repeat: no-repeat;
      background-position: 0% 50%;
      background-size: 1rem;
      padding-left: calc(var(--base-padding) - 10px); }
    .footer .contact .contact_email {
      background-image: url("../images/icon-email.svg");
      background-repeat: no-repeat;
      background-position: 0% 50%;
      background-size: 1rem;
      padding-left: calc(var(--base-padding) - 10px);
      padding-top: calc(var(--base-padding) / 2);
      padding-bottom: var(--base-padding); }
  .footer .newsletter {
    margin-left: var(--base-margin);
    margin-right: var(--base-margin);
    margin-bottom: calc(var(--base-margin) * 4); }
    .footer .newsletter .newsletter_heading {
      font-family: 'Open Sans';
      font-style: normal;
      font-weight: 700;
      font-size: calc((var(--base-font-size) * 1.5));
      line-height: calc((var(--base-line-height) * 1.5));
      text-transform: uppercase;
      padding-bottom: calc(var(--base-padding) / 2); }
    .footer .newsletter .footer_form fieldset {
      border: none;
      text-align: end;
      margin-top: calc(var(--base-margin) * 2); }
      .footer .newsletter .footer_form fieldset input {
        width: 100%;
        height: 42px;
        border-radius: 5px;
        border: none; }
      .footer .newsletter .footer_form fieldset button {
        margin-top: calc(var(--base-margin) / 2);
        border-radius: 5px; }
