:root {
    --base-font-size: #{$default-font-size};
    --base-line-height: #{$base-line-height};
    --bg-color: #{$bg-heading-color};
    --st-header-color: #{$st-header-color};
    --sub-heading-color: #{$sub-heading-color};
    --btn-color: #{$btn-color};
    --btn-background: #{$btn-background};
    --base-margin: #{$base-margin};
    --base-padding: #{$base-padding};
}