@mixin bg_heading {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: calc((var(--base-font-size) * 1.5));
    line-height: calc((var(--base-line-height) + 8px));
}

@mixin sth_button {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: var(--base-font-size - 2px);
    line-height: var(--base-line-height - 6px);
    color: var(--st-header-color);
}

@mixin sub_heading {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: calc((var(--base-font-size) * 2));
    line-height: calc((var(--base-line-height) * 1.5));
    color: var(--sub-heading-color);
}

@mixin article_heading {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: calc((var(--base-font-size) * 1.5));
    line-height: calc((var(--base-line-height) * 1.5));
    color: var(--sub-heading-color);
}

@mixin article_paragraph {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: calc((var(--base-font-size) + 2px));
    line-height: calc((var(--base-line-height) + 8px));
    color: var(--sub-heading-color);
}

@mixin btn_free {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: var(--base-font-size);
    line-height: var(--base-line-height);
    color: var(--btn-color);
    background-color: var(--btn-background);
}

@mixin bg_sub_title {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: calc((var(--base-font-size) * 3));
    line-height: calc((var(--base-line-height) * 2.5));
    color: var(--sub-heading-color);
}

@mixin marg_padd_none {
    margin: 0;
    padding: 0;
}

%padding_margin {
    @include marg_padd_none;
}

@mixin ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  @mixin text_indent {
    display: block;
    text-indent: -9999px;
  }
  
  @mixin flex_row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  @mixin flex_column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }